body{
	font-family: "Hiragino Sans GB";
}
a{
	text-decoration: none;
	outline: none;
}
.section {
	text-align: center;
	font-size: 30px;
}
// .add-left{
// 	position: absolute;
// 	left: -4000px;
// }
// #fullpage .section .fp-prev{
// 	width: 64px;
// 	height: 64px;
// 	border: none;
// 	background: url(../images/prev.png) center center no-repeat;
// 	left: 5%;
// }
// #fullpage .section .fp-next{
// 	width: 64px;
// 	height: 64px;
// 	border: none;
// 	background: url(../images/prev.png) center center no-repeat;
// 	transform: rotate(180deg);
// 	right: 5%;
// }
// #fullpage .fp-slidesNav ul li span{
// 	background: #fff;
// }
// body div#fp-nav ul li a span{
// 	background: #fff;
// }
/* 第一页大图片 */
.y-img{
	width: 100%;
	height: 100%;
	position: relative;
}
#fullpage .section1 .y-img img{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
/* logo 导航条部分 */
.y-header{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #fff;
	color: #000;
}
/* logo */
.y-logo{
	float: left;
	width: 200px;
	height: 50px;
	background: url(../images/logo.png) center center no-repeat;
	background-size: cover;
	margin-top: 10px;
}
/* menu */
#myMenu li{
	float: left;
	margin-right: 50px;
}
#myMenu li:first-child{
	margin-right: 25px;
}
#myMenu li a{
	font-size: 19px;
	text-decoration: none;
	font-family: "Hiragino Sans GB";
	font-weight: bold;
	color: #5d6276;
}
#myMenu li a.active{
	color: #d92857;
}
#myMenu .y-line{
	display: inline-block;
	width: 2px;
	height: 19px;
	background: #d92857;
	margin-left: 15px;
}
/* 图片遮盖条 */
.y-cover{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,0.1);
	position: absolute;
	z-index: 10;
}
.y-welcome{
	font-size: 19px;
	font-family: "Hiragino Sans GB";
	color: #fff;
}
.alltext{
	padding: 70px;
	color: #fff;
	text-align: left;
	font-size: 15px;
	line-height: 2em;
}
.alltext p{
	float:left;
	text-align: left;
}
// .y-phone{
// 	margin-right: 50px;
// }
// .y-phone .y-arrow{
// 	display: inline-block;
// 	width: 16px;
// 	height: 16px;
// 	background: url(../images/phone.png) center center no-repeat;
// }
// .y-phone span{
// 	font-size: 19px;
// 	color: #d92454;
// }
/* 第二页 */
/* title */
.y-title{
	font-size: 36px;
	font-weight: bold;
	color: #181f3c;
	padding-top: 50px;
}
/* 栗子妈妈公众号下的线 */
.section2 .y-line .cusp{
	background: #fff;
}
.section3 .y-line .cusp{
	background: #f2f2f2;
}
.section3s .y-line .cusp{
	background: #fff;
}
/* mainbody */
.mainbody{
	width: 960px;
	margin: 100px auto;
	position: relative;
}
/* 微信 */
.wechat img{
	float: left;
	width: 160px;
	height: 290px;
	margin-left: 30px;
}
/* type-of-lizi{ */
.type-of-lizi{
	display: inline-block;
	width: 350px;
	height: 290px;
	text-align: left;
	margin: 0 auto;
}
.type-of-lizi .item{
	margin-bottom: 20px;
	border-left: 3px solid #e56989;
	padding-left: 10px;

}
.type-of-lizi h2{
	font-size: 24px;
	font-weight: bold;
	color: #d82453;
	margin-bottom: 3px;
}
.type-of-lizi .text{
	font-size: 13px;
	line-height: 2em;
}
.type-of-lizi .text p{
	margin-left: 65px;
}
/* 右边二维码部分 */
.y-right .li img{
	width: 150px;
	height: 150px;
}
.y-right .bar-code img{
	display: block;
	width: 150px;
	height: 150px;
}
.bar-code{
	font-size: 12px;
}
/* 第三页 */
.social{
	width: 720px;
	margin: 0 auto;
}
.social li{
	float: left;
	margin-right: 60px;
}
.social li:last-child{
	margin-right: 0px;
}
.section3 .fore{
	width: 200px;
	text-align: center;
}
.section3 span{
	text-align: left;
}
.section3 .fore .y-arrow1{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/talk.png) center center no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}
.section3 .fore .y-arrow2{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/yililao.png) center center no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}
.section3 .fore .y-arrow3{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/liwu.png) center center no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}
.section3 .fore .small-pic img{
	display: block;
	width: 200px;
	height: 200px;
}
.section3 .fore span{
	display: block;
	font-size: 18px;
	margin-top: 15px;
}
.section3s .about_text{
	text-align: left;
	margin-bottom: 25px;
}
.section3s .about{
	margin-top: 40px;
}
.section3s .title{
	padding: 10px;
	font-size: 20px;
}
.section3s p{
	font-size: 18px;
	line-height: 2em;
}
/* 第四页 */
.section4 .y-line .cusp{
	background: #fff;
}
/* common style */
.fl{
	float: left;
}
.fr{
	float: right;
}
.left-5{
	position: absolute;
	left: 5%;
}
.mr{
	margin-right: 60px;
}
/* 线 */
.y-line{
	position: relative;

}
.y-line .line{
	width: 200px;
	height: 2px;
	background: #6f7385;
	margin: 15px auto;
}
.y-line .cusp{
	width: 15px;
	height: 15px;
	border-right: 2px solid #6f7385;
	border-bottom: 2px solid #6f7385;
	margin: -24px auto;
	transform: rotate(45deg);
}
/* 媒体查询 */
@media only screen and (max-width: 640px){
	#myMenu{
		display: none;
	}
	.wechat{
		display: none;
	}
}