/* reset.css */
a{
	text-decoration: none;
	outline: none;
}
/* reset.css end */
.y-header{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #fff;
	border-bottom: 1px solid #2767A8;
}
/* logo */
.y-logo{
	float: left;
	width: 200px;
	height: 50px;
	background: url(../images/logo.png) center center no-repeat;
	background-size: cover;
	margin-top: 10px;
}
/* footer */
.footer{
	width: 100%;
	height: 60px;
	background: #171f3b;
	margin-top: 50px;
}
/* footer end */
/* join us */

.w .aboutus .description li{
	color: #494949;
	font-size: 14px;
	line-height: 1.5em;
}
.w .aboutus .description li:first-child{
	margin: 20px 0;
	color: #494949;
	font-weight: bold;
}
/* join us end */
/* common style */
.left-5{
	position: absolute;
	left: 5%;
}
.w{
	width: 780px;
	margin: 0 auto;
}
.w .join{
	font-size: 24px;
	font-weight: bold;
	color: #494949;
	margin-top: 50px;
}
.w .p{
	color: #494949;
	font-size: 14px;
	margin-top: 20px;
	line-height: 1.5em;
}
.w .p2{
	margin-top: 20px;
	color: #494949;
	margin-bottom: 10px;
	font-weight: bold;
}
.w .recruitment{
	margin: 50px 0;
	color: #2767A8;
}
.w .type-of-job{
	float: left;
	margin-bottom: 30px;
}
.w ul li{
	padding-top: 10px;
	margin-right: 50px;
}
.w ul li a{
	color: #1d8ec9;
	font-size: 14px;
	padding: 0px 5px;
	border-radius: 5px;
}
.w ul li a:hover{
	background: #505ba7;
	color: #fff;
}
.w .title{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #2767A8;
	clear: both;
	margin-top: 30px;
}
.w .title h4{
	display: inline-block;
}
.w #top{
	color: #1d8ec9;
	float: right;
	font-size: 14px;
}
.information h6{
	font-size: 14px;
	margin: 30px 0 10px 0;
}
.information li{
	line-height: 1.5em;
	font-size: 14px;
	color: #4e4e4e;
}